:global {
  @import 'base';
  @import 'vendor/normalize';

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #3F3F3F;
  }
  h1,h4 {
    color: #F5D908;
  }
  .thumbnail {
    background-color: #3F3F3F;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}
